/* :root {
    --bg-dark: #1a2f3a;

    --logo-height: 100px;
    --header-height: 100px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.6);
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.rowOne {
    border: 1px solid black;
}

.rowTwo {
    border: 1px solid black;
}

.rowThree {
    border: 1px solid black;
} */